@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.shared-container {
    padding: 20px 30px;
}

/* Page header */
.page-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px; ;
}
.subtitle {
    margin-top: -5px;
    color: #777;
}

/* Stats Row */
.stats-row {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.stat-card {
    flex: 1;
    background: #fff;
    border-radius: 14px;
    padding: 18px 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.08);
}

.stat-card .icon img {
    width: 45px;
}

.stat-card h4 {
    font-size: 16px;
    margin: 0;
}

.stat-card span {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.blue { border-left: 5px solid #1e90ff; }
.purple { border-left: 5px solid #9b59b6; }
.green { border-left: 5px solid #2ecc71; }

/* Search + Filter */
.search-filter-bar {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.search-box {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px 14px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.07);
}

.search-box img {
    width: 18px;
    margin-right: 10px;
}

.search-box input {
    border: none;
    width: 100%;
    outline: none;
    font-size: 15px;
}

.filter-btn {
    display: flex;
    gap: 10px;
    padding: 10px 18px;
    background: #f3f3f3;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.filter-btn img{
    width: 10px;
    margin-right: 10px;
}

/* File List */
.file-list {
    margin-top: 10px;
}

.file-card {
    display: flex;
    align-items: center;
    padding: 16px;
    background: #fff;
    margin-bottom: 12px;
    border-radius: 12px;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.07);
}

.file-icon img {
    width: 48px;
}

.file-info {
    flex: 1;
    margin-left: 15px;
}

.file-info h3 {
    margin: 0;
    font-size: 16px;
}

.file-info p {
    margin-top: 3px;
    color: #777;
    font-size: 14px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.view-btn {
    padding: 6px 14px;
    background: #2ecc71;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
}

.menu-btn img {
    width: 22px;
    opacity: 0.8;
}

/* Empty state */
.empty-message {
    margin-top: 20px;
    text-align: center;
    color: #777;
}
