@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/* ================= PAGE ================== */

.upload-page {
    padding: 25px 40px;
}

.upload-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
}

.upload-subtitle {
    color: #777;
    margin-bottom: 25px;
}

/* =============== DRAG BOX =============== */

.drag-upload-box {
    width: 100%;
    background: #faf8ff;
    border: 2px dashed #b89aff;
    border-radius: 18px;
    padding: 60px;
    text-align: center;
    margin-bottom: 35px;
    transition: .3s;
}

.drag-upload-box:hover {
    background: #f2ebff;
    border-color: #742BFA;
}

.upload-main-icon {
    width: 90px;
    margin-bottom: 12px;
}

.upload-icon-box {
    width: 90px;
    height: 90px;
    background: linear-gradient(145deg,#742BFA , #A43AF0);
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        0px 4px 10px rgba(0, 0, 0, 0.15),
        0px 8px 20px rgba(120, 50, 255, 0.25);
    margin: 0 auto 12px auto;
    transition: 0.3s ease;
}

/* Hover Effect */
.upload-icon-box:hover {
    transform: translateY(-4px);
    box-shadow:
        0px 6px 14px rgba(0, 0, 0, 0.18),
        0px 12px 28px rgba(120, 50, 255, 0.35);
}

/* Icon Styling */
.upload-icon-box img {
    width: 48px;
    height: 48px;
    object-fit: contain;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.3));
}


.drag-upload-box h3 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}

.drag-upload-box p {
    margin: 5px 0 15px;
}

.browse-btn {
    padding: 10px 28px;
    font-size: 15px;
    background: linear-gradient(#742BFA , #A43AF0);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.upload-supported {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    color: #555;
}

.upload-supported div {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* =============== FOLDER SECTION =============== */

.folder-section {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(140, 140, 140, 0.15);
    margin-bottom: 30px;
}

.folder-section label {
    font-weight: 600;
    font-size: 15px;
    display: block;
    margin-bottom: 8px;
}

.custom-select select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
}

/* =============== UPLOADING LIST =============== */

.upload-card {
    background: #fff;
    border-radius: 10px;
    padding: 18px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.06);
}

.upload-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-info img {
    width: 26px;
}

.file-name {
    font-weight: 600;
}

.file-size {
    color: #666;
    font-size: 13px;
}

.upload-status {
    display: flex;
    align-items: center;
    gap: 8px;
}

.percent {
    font-weight: 600;
    font-size: 14px;
}

.cancel-btn {
    font-size: 20px;
    cursor: pointer;
    color: #999;
    transition: .2s;
}

.cancel-btn:hover {
    color: #000;
}

.progress-bar {
    margin-top: 12px;
    height: 6px;
    width: 100%;
    border-radius: 10px;
    background: #dff0ff;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    width: 0%;
    transition: width 0.2s linear;
}

/* Blue while uploading */
.progress-fill.blue {
    background: #0275FF;
}

/* Green when finished */
.progress-fill.green {
    background: #00C853;
}



/* =============== FOOTER =============== */

.upload-footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.tips-box {
    background: #fff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(150, 150, 150, 0.15);
    width: 50%;
}

.footer-cloud {
    width: 210px;
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
