{% extends "base/user_base.html" %}
{% load static %}

{% block title %}Payment Successful – CloudSync{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/payment.css' %}">

<div class="success-box">
    <img src="{% static 'icons/success.svg' %}" class="icon">
    <h2>Payment Successful</h2>
    <p>Your {{ plan.name }} plan is now active.</p>

    <a href="{% url 'download_invoice' order_id=order_id payment_id=rzp_payment_id plan_id=plan.id %}" 
   class="go-btn">
    Download Invoice PDF
</a>


    <a href="/dashboard/" class="go-btn">Go to Dashboard</a>
</div>

{% endblock %}
