{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricing – CloudSync</title>
    <link rel="stylesheet" href="{% static 'css/pricing.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

<section class="pricing-header">
    <h1>Choose Your Plan</h1>
    <p>Flexible plans for Individuals and Businesses</p>
</section>

<section class="pricing-container">

    <!-- Free Plan -->
    <div class="plan-card">
        <h2>Free</h2>
        <h3 class="storage">10 GB</h3>

        <ul class="features">
            <li>Basic Sharing</li>
            <li>File Preview</li>
            <li>Community Support</li>
        </ul>

        <a href="{% url 'checkout' 'free' %}" class="btn-primary">Get Free</a>

    </div>

    <!-- Pro Plan -->
    <div class="plan-card active">
        <div class="badge">POPULAR</div>

        <h2>Pro</h2>
        <h3 class="storage">100 GB</h3>

        <ul class="features">
            <li>Fast Uploads</li>
            <li>Version History</li>
            <li>Priority Support</li>
        </ul>

        <a href="{% url 'checkout' 'pro' %}" class="btn-primary">Choose Pro</a>
    </div>

    <!-- Business Plan -->
    <div class="plan-card">
        <h2>Business</h2>
        <h3 class="storage">1 TB</h3>

        <ul class="features">
            <li>Team Account</li>
            <li>Admin Controls</li>
            <li>Advanced Security</li>
        </ul>

        <a href="{% url 'checkout' 'primium' %}" class="btn-primary">Contact Sales</a>
    </div>

</section>

{% include 'core/includes/footer.html' %}
</body>
</html>
